*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',sans-serif;
}

body{
background:#eef5fb;
color:#222;
}

.hero{
background:linear-gradient(135deg,#0077cc,#00a6ff);
color:white;
text-align:center;
padding:60px 20px;
border-bottom-left-radius:35px;
border-bottom-right-radius:35px;
box-shadow:0 8px 20px rgba(0,0,0,.15);
}

.hero h1{
font-size:40px;
margin-bottom:10px;
}

.hero p{
font-size:20px;
opacity:.9;
}

.container{
max-width:900px;
margin:auto;
padding:25px;
}

.card{
background:white;
padding:25px;
margin-top:25px;
border-radius:20px;
box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.card h2{
color:#0077cc;
margin-bottom:20px;
}

input,
select,
textarea{
width:100%;
padding:15px;
margin-top:15px;
border:1px solid #ddd;
border-radius:12px;
font-size:17px;
background:#fafafa;
}

textarea{
min-height:150px;
resize:vertical;
}

button{
width:100%;
padding:18px;
margin-top:20px;
border:none;
border-radius:12px;
background:#0077cc;
color:white;
font-size:20px;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#005fa3;
}

.map-card{
margin-top:25px;
}

#map{
width:100%;
height:450px;
border-radius:18px;
overflow:hidden;
}

.report{
background:#f8fbff;
padding:18px;
margin-top:15px;
border-right:5px solid #0077cc;
border-radius:12px;
}

.report h3{
margin-bottom:8px;
color:#0077cc;
}

.report small{
display:block;
margin-top:10px;
color:#666;
}

@media(max-width:768px){

.hero h1{
font-size:30px;
}

.hero p{
font-size:17px;
}

#map{
height:350px;
}

}
